*{
    font-family: montserrat;
}

.section-header{
    margin-bottom: 40px;
}

.section-header h2{
    color: #08194a;
    font-size: 45px;
    font-weight: 700;
}

.section-header h2 span{
    color: #e53f29;
}

.navbar-nav a{
    font-size: 16px;
    font-weight: 700;
}

.navbar-light .navbar-brand{
    color: #08194a;
    font-size: 25px;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand span{
    color: #e53f29;
}

.section-padding{
    padding: 80px 0;
}

.w-100{
    height: 100vh;
}

.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}
.carousel{
    background-image: url(img/home.jpg);
    background-size: cover;
    background-position: center;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
    left: 8%;
}
.carousel-caption h5{
    font-size: 45px;
    margin-top: 25px;
    color: #08194a;
    font-weight: 700;
    text-align: left;
}

.carousel-caption h5 span{
    color: #e53f29;
}

.carousel-caption p{
    width: 60%;
    font-size: 18px;
    line-height: 1.8;
    color: #08194a;
    text-align: left;
}

.carousel-caption a{
    text-transform: uppercase;
    text-decoration: none;
    background: #08194a;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
}

/* about */
.img-area img{
    width: 100 !important;
}

.about-text h2{
    font-size: 45px;
    font-weight: 700;
    color: #08194a;
}

.about-text h2 span{
    color: #e53f29;
}

.about-text .btn{
    background: #08194a;
    color: #fff;
}

/* services */
.single-services{
    background: #08194a;
    color: #fff;
    padding: 30px 15px;
}

.single-services i{
    font-size: 45px;
    margin-bottom: 30px;
}

.single-services h2{
    font-family: bebas neue;
}

/* why us */
.choose-img img{
    width: 100%;
}

.single-box{
    padding: 20px;
}

.single-box i{
    font-size: 35px;
    margin-bottom: 25px;
    color: #e53f29;
}

.single-box h2{
    font-family: bebas neue;
    color: #08194a;
}

/* testmonial */
.imgBox{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 25px;
}

.imgBox img{
    width: 100%;
}

.single-client{
    box-shadow: 0 2px 20px rgba(0,0,0,0.3);
    padding: 30px 15px;
}

.single-client h2{
    color: #08194a;
    font-family: bebas neue;
}

.single-client h5{
    color: #08194a;
    font-weight: 600;
    font-size: 15px;
}

.single-client h5 span{
    font-size: 12px;
    text-transform: uppercase;
}

/* contact */
.left-contact{
    background: #08194a;
    padding: 60px 15px;
    color: #fff;
 }

 .left-contact h3{
    font-family: bebas neue;
    margin-bottom: 20px;
 }

 label{
    font-family: bebas neue;
    font-size: 28px;
    margin: 10px 0;
 }

 .contact .btn{
    background: #08194a;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
 }

 /* footer */
 footer{
    background: #08194a;
    padding: 35px 0;
    color: #fff;
 }

 .social i{
    font-size: 25px;
    margin: 0 15px;
 }

 /* responsive */
 @media only screen and (min-width: 769px) and (max-width: 991px) {
    .about-text h2{
       margin: 20px 0;
    }
     
    .single-services{
       margin-bottom: 30px;
    } 
     
    .single-box{
        margin-bottom: 30px;
    }
     
    .single-client{
        margin-bottom: 35px;
    }
    .left-contact{
        margin-bottom: 30px;
    } 
 }
 @media only screen and (max-width: 767px) {
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 100px;
    } 
    .carousel-caption h5{
        font-size: 20px;
    }
    .carousel-caption p{
        width: 100%;
        font-size: 10px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 14px;
    }
    .about-text h2{
        font-size: 30px;
        margin: 15px 0;
    }
    .section-header h2{
        font-size: 30px;
    }
    .single-services{
        margin-bottom: 30px;
    }
    .single-box{
        margin-bottom: 30px;
    }
    .single-client h3{
        text-align: center;
    }
    .left-contact p{
        text-align: center;
    }
 }
